




<!-- Start Featured Carousel -->
<div class="container zerogrid">
    <div class="list_carousel">
        <ul id="featured-posts">


            <li class="first carousel-item">
                <div class="post-margin">
                    <h6><a href="#">The Lighthouse Effect</a></h6>
                    <span><i class="fa fa-clock-o"></i> December 13, 2013</span>
                </div>

                <div class="featured-image">
                    <img width="290" height="130" src="img/HighRes-290x130.jpg"  />                <div class="post-icon">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-picture-o fa-stack-1x fa-inverse"></i>                    </span>
                    </div>
                </div>

                <div class="post-margin">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet auctor ligula. Donec eu</p>
                </div>
            </li>
            <li class="first carousel-item">
                <div class="post-margin">
                    <h6><a href="#">One More Beer</a></h6>
                    <span><i class="fa fa-clock-o"></i> December 13, 2013</span>
                </div>

                <div class="featured-image">
                    <img width="290" height="130" src="img/one-more-beer-290x130.png"  />                <div class="post-icon">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-play-circle-o fa-stack-1x fa-inverse"></i>                    </span>
                    </div>
                </div>

                <div class="post-margin">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet auctor ligula. Donec eu</p>
                </div>
            </li>
            <li class="last carousel-item">
                <div class="post-margin">
                    <h6><a href="#">Port Harbor</a></h6>
                    <span><i class="fa fa-clock-o"></i> December 13, 2013</span>
                </div>

                <div class="featured-image">
                    <img width="290" height="130" src="img/Port_Harbor1-290x130.jpg"  />                <div class="post-icon">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>                    </span>
                    </div>
                </div>

                <div class="post-margin">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet auctor ligula. Donec eu</p>
                </div>
            </li>
            <li class="first carousel-item">
                <div class="post-margin">
                    <h6><a href="#">Underground Volcano</a></h6>
                    <span><i class="fa fa-clock-o"></i> December 13, 2013</span>
                </div>

                <div class="featured-image">
                    <img width="290" height="130" src="img/Timothy-J-Reynolds-2560x14401-290x130.jpg"  />                <div class="post-icon">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>                    </span>
                    </div>
                </div>

                <div class="post-margin">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet auctor ligula. Donec eu</p>
                </div>
            </li>
            <li class="first carousel-item">
                <div class="post-margin">
                    <h6><a href="#">We Are not alone</a></h6>
                    <span><i class="fa fa-clock-o"></i> December 13, 2013</span>
                </div>

                <div class="featured-image">
                    <img width="290" height="130" src="img/UFO1-290x130.jpg"  />                <div class="post-icon">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>                    </span>
                    </div>
                </div>

                <div class="post-margin">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet auctor ligula. Donec eu</p>
                </div>
            </li>
            <li class="last carousel-item">
                <div class="post-margin">
                    <h6><a href="#">Bearing water falls</a></h6>
                    <span><i class="fa fa-clock-o"></i> December 13, 2013</span>
                </div>

                <div class="featured-image">
                    <img width="290" height="130" src="img/Diamantina-Full_Landscape-290x130.jpg"  />                <div class="post-icon">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>                    </span>
                    </div>
                </div>

                <div class="post-margin">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet auctor ligula. Donec eu</p>
                </div>
            </li>

        </ul>

        <div class="clear"></div>

        <div class="carousel-controls">
            <a id="prev2" class="prev" href="#"><i class="fa fa-angle-left"></i></a>
            <a id="next2" class="next" href="#"><i class="fa fa-angle-right"></i></a>
            <div class="clear"></div>
        </div>
    </div>
</div>
<!-- Start Featured Carousel -->