{% extends 'TroiswaBlogBundle::layout.html.twig' %}

{% block content %}
    {% for article in articles %}
        <div class="post">
           <h1>{{ article.titre }} </h1>
            {{ article.contenu }}
        </div>

    {% endfor %}
{% endblock %}

{% block stylesheet %}

        {{ parent() }}

    {% stylesheets '@TroiswaBlogBundle/Resources/public/css/base.css' %}


    <link rel="stylesheet" href="{{asset_url}}">

    {% endstylesheets%}

{% endblock %}